{% load static %}
<!DOCTYPE html>
<html>
<head>
     <meta charset="utf-8">
     <title>{% block title %}{% endblock %}</title>
     <link rel="icon" href="{% static 'favicon.ico' %}" sizes="32x32">
     <link rel="icon" href="{% static 'favicon.svg' %}" type="image/svg+xml">
     <link rel="apple-touch-icon" href="{% static 'touch-icon.png' %}">
     <link rel="manifest" href="{% static 'manifest.webmanifest' %}">
     <link rel="stylesheet" href="{% static 'css/pure-min.css' %}" media="screen">
     <link rel="stylesheet" href="{% static 'css/grids-responsive-min.css' %}" media="screen">
     <link rel="stylesheet" href="{% static 'css/site.css' %}" media="screen">
     <link rel="stylesheet" href="{% static 'css/material-icons-round.css' %}">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     {% block head %}{% endblock %}
</head>
<body>
    <nav class="header pure-g" id="menu">
        <div class="pure-u-1 pure-u-md-1-5">
            <div class="pure-menu">
                <ul class="pure-menu-list">
                    <li class="pure-menu-item">
                        <a class="pure-menu-heading" href=""><img class="icon" src="{% static 'favicon.svg' %}" height="26px"> Wireguard Web</a>
                    </li>
                    <li>
                        <a class="pure-menu-heading menu-toggle" href="" id="menu-toggle"><span class="material-icons">menu</span></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="pure-u-1 pure-u-md-3-5">
            <div class="pure-menu pure-menu-horizontal menu-can-transform">
                <ul class="pure-menu-list">
                    {% block navigation %}
                    {% endblock %}
                </ul>
            </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-5">
            <div class="pure-menu pure-menu-horizontal menu-right menu-can-transform">
                <ul class="pure-menu-list">
                    <li class="pure-menu-item">
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <footer>Wireguard-Web v{{ request.installed_version }}, {{ request.kernel }}: {{ request.kernel_version }}</footer>

    <script>
      (function (window, document) {
      var menu = document.getElementById('menu'),
          rollback,
          WINDOW_CHANGE_EVENT = ('onorientationchange' in window) ? 'orientationchange':'resize';

      function toggleHorizontal() {
          menu.classList.remove('closing');
          [].forEach.call(
              document.getElementById('menu').querySelectorAll('.menu-can-transform'),
              function(el){
                  el.classList.toggle('pure-menu-horizontal');
              }
          );
      };

      function toggleMenu() {
          // set timeout so that the panel has a chance to roll up
          // before the menu switches states
          if (menu.classList.contains('open')) {
              menu.classList.add('closing');
              rollBack = setTimeout(toggleHorizontal, 500);
          }
          else {
              if (menu.classList.contains('closing')) {
                  clearTimeout(rollBack);
              } else {
                  toggleHorizontal();
              }
          }
          menu.classList.toggle('open');
      };

      function closeMenu() {
          if (menu.classList.contains('open')) {
              toggleMenu();
          }
      }

      document.getElementById('menu-toggle').addEventListener('click', function (e) {
          toggleMenu();
          e.preventDefault();
      });

      window.addEventListener(WINDOW_CHANGE_EVENT, closeMenu);
      })(this, this.document);

      </script>
</body>
</html>
