{% extends 'wireguard/base.html' %}
{% load static %}
{% load relativetime %}

{% block title %}Wireguard Web client detail{% endblock %}

{% block navigation %}
    {% with nav="devices" %}
        {% include 'wireguard/nav.html' %}
    {% endwith %}
{% endblock %}

{% block content %}

{% if client %}
    {% if client.id %}
        <h2>Device {{ client.name }}@{{ client.server.name }}</h2>
    {% else %}
        <h2>New Device</h2>
    {% endif %}

<form class="pure-form purg-g pure-form-aligned" action="{% if client.id %}{% url 'client-detail' client.id %}{% else %}{% url 'client-new' %}{% endif %}" method="POST">
    {% csrf_token %}
    <fieldset>
        {% if messages %}
        <div class="pure-controls">
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% if not client.pk %}
        <div class="pure-control-group">
            <label for="aligned-server">Server</label>
            <select name="server" class="pure-u-1 pure-u-md-1-3" id="aligned-server">
                {% for server in servers %}
                    <option value="{{ server.id }}" {% if server.id == request.GET.server|add:"0" %}selected="selected"{% endif %}>{{ server.name }}</option>
                {% endfor %}
            </select>
        </div>
        {% endif %}
        <div class="pure-control-group">
            <label for="aligned-name">Name</label>
            <input type="text" class="pure-u-1 pure-u-md-1-3" name="name" id="aligned-name" placeholder="Name" value="{{ client.name }}" required=""/>
            <span class="pure-form-message-inline">Required, max. 128 characters</span>
        </div>
        <div class="pure-control-group">
            <label for="aligned-keepalive">Keepalive</label>
            <input type="text" class="pure-u-1 pure-u-md-1-3" name="keepalive" id="aligned-keepalive" placeholder="Keepalive" value="{{ client.keepalive }}" />
            <span class="pure-form-message-inline">seconds, 0 to disable</span>
        </div>
        {% if client.server.has_dns %}
            <div class="pure-controls">
                <label for="checkbox-usedns" class="pure-checkbox">
                    <input type="checkbox" id="checkbox-usedns" name="use_dns" value="1" {% if client.use_dns %}checked=""{% endif %}/> Route DNS queries through VPN
                </label>
            </div>
        {% else %}
            <input type="hidden" name="use_dns" value="0" />
        {% endif %}
        {% if client.server.may_route_all_traffic %}
            <div class="pure-controls">
                <label for="checkbox-alltraffic" class="pure-checkbox">
                    <input type="checkbox" id="checkbox-alltraffic" name="route_all_traffic" value="1" {% if client.route_all_traffic %}checked=""{% endif %}/> Route all Traffic Through VPN
                </label>
            </div>
        {% else %}
            <input type="hidden" name="route_all_traffic" value="0" />
        {% endif %}
        {% if request.user.is_staff %}
            {% if client.server.allow_direct_peering %}
            <div class="pure-controls">
                <label for="checkbox-direct-peering" class="pure-checkbox">
                    <input type="checkbox" id="checkbox-direct-peering" name="direct_peering" value="1" {% if client.allow_direct_peering %}checked=""{% endif %}/> Allow other clients to directly connect
                </label>
            </div>
            {% endif %}

            {% if client.server.allow_client_bridges %}
                <div class="pure-controls">
                    <label for="checkbox-exitnode" class="pure-checkbox">
                        <input type="checkbox" id="checkbox-exitnode" name="is_exitnode" value="1" {% if client.is_exitnode %}checked=""{% endif %}/> Bridge local network to VPN
                    </label>
                </div>
                <div class="pure-control-group">
                    <label for="aligned-interface">Exit Interface</label>
                    <input type="text" class="pure-u-1 pure-u-md-1-3" name="exit_interface" id="aligned-interface" placeholder="interface" value="{% if client.exit_interface %}{{ client.exit_interface }}{% endif %}" />
                    <span class="pure-form-message-inline">network interface name</span>
                </div>

                {% for net in client.networks.all %}
                    <div class="pure-control-group">
                        <label for="aligned-bridgenet{{ net.id }}">Network</label>
                        <input type="text" class="pure-u-1 pure-u-md-1-3" name="bridge_{{ net.id }}" id="aligned-bridgenet{{ net.id }}" placeholder="1.2.3.4/16" value="{{ net.ip }}/{{ net.cidr_mask}}" />
                        <span class="pure-form-message-inline">Bridge Network to VPN</span>
                    </div>
                {% endfor %}
                <div class="pure-control-group">
                    <label for="aligned-bridgenetadd1">Network</label>
                    <input type="text" class="pure-u-1 pure-u-md-1-3" name="bridge_new_1" id="aligned-bridgenetadd1" placeholder="1.2.3.4/16" value="{{ bridge_new_1 }}" />
                    <span class="pure-form-message-inline">Bridge Network to VPN</span>
                </div>
                <div class="pure-control-group">
                    <label for="aligned-bridgenetadd2">Network</label>
                    <input type="text" class="pure-u-1 pure-u-md-1-3" name="bridge_new_2" id="aligned-bridgenetadd2" placeholder="1.2.3.4/16" value="{{ bridge_new_2 }}" />
                    <span class="pure-form-message-inline">Bridge Network to VPN</span>
                </div>
            {% else %}
                <input type="hidden" name="is_exitnode" value="0" />
            {% endif %}
        {% else %}
            <input type="hidden" name="is_exitnode" value="0" />
            <input type="hidden" name="direct_peering" value="0" />
        {% endif %}

        {% if client.id %}
            <div class="pure-controls">
                <h3>Informational</h3>
            </div>
            <div class="pure-control-group">
                <label for="aligned-pubkey">Public Key</label>
                <input type="text" class="pure-u-1 pure-u-md-1-3" id="aligned-pubkey" value="{{ client.public_key }}" readonly="" />
                <span class="pure-form-message-inline">Generated autmatically</span>
            </div>

            {% if client.server.has_dns %}
                <div class="pure-control-group">
                    <label for="aligned-pubkey">DNS Name</label>
                    <input type="text" class="pure-u-1 pure-u-md-1-3" id="aligned-pubkey" value="{{ client.dns_name }}" readonly="" />
                    <span class="pure-form-message-inline">Generated autmatically</span>
                </div>
            {% endif %}

            {% if client.ips %}
                {% for ip in client.ips.all %}
                    <div class="pure-control-group">
                        <label for="aligned-ip{{ forloop.counter0 }}">IP Address</label>
                        <input type="text" class="pure-u-1 pure-u-md-1-3" id="aligned-ip{{ forloop.counter0 }}" value="{{ ip.ip }}" readonly="" />
                        <span class="pure-form-message-inline">Generated autmatically</span>
                    </div>
                {% endfor %}
            {% endif %}
            {% if client.local_networks %}
                {% for net in client.local_networks.all %}
                    <div class="pure-control-group">
                        <label for="aligned-net{{ forloop.counter0 }}">Local Network</label>
                        <input type="text" class="pure-u-1 pure-u-md-1-3" id="aligned-net{{ forloop.counter0 }}" value="{{ net.ip }}/{{ net.cidr }}" readonly="" />
                        <span class="pure-form-message-inline">Gateway {{ net.gateway }}</span>
                    </div>
                {% endfor %}
            {% endif %}

            <div class="pure-control-group">
                <label for="aligned-handshake">Last Handshake</label>
                <input type="text" class="pure-u-1 pure-u-md-1-3 {% conditionaltime client.last_handshake "10 minutes ago" "stale" "current" %}" id="aligned-handshake" value="{% if client.last_handshake %}{{ client.last_handshake | relativetime }}{% else %}-{% endif %}" readonly="" />
            </div>

            <div class="pure-control-group">
                <label for="aligned-handshake">Endpoint</label>
                <input type="text" class="pure-u-1 pure-u-md-1-3" id="aligned-handshake" value="{% if client.endpoint %}{{ client.endpoint }}{% else %}-{% endif %}" readonly="" />
            </div>

        {% endif %}
        <div class="pure-controls">
            <button type="submit" class="pure-u-1-5 pure-button pure-button-primary">Save</button>
            {% if client.id %}
                <a class="pure-button danger-button" href="{% url 'client-delete' client.id %}">Delete Device</a>
            {% endif %}
        </div>
    </fieldset>
</form>
{% endif %}

{% if client.id %}
<h2>Download configuration</h2>

<div class="tabs">
    <div class="tab">
      <input type="checkbox" id="chck1" checked>
      <label class="tab-label" for="chck1">Windows, MacOS</label>
      <div class="tab-content">
        <ul>
            <li><a href="{% url 'client-download-config' client.id "wg-quick" %}">Download WireGuard configuration</a></li>
            <li><a href="{% url 'client-send-config' client.id "wg-quick" %}">Send configuration via e-Mail</a></li>
        </ul>
      </div>
    </div>
    <div class="tab">
      <input type="checkbox" id="chck2">
      <label class="tab-label" for="chck2">Linux</label>
      <div class="tab-content">
        <ul>
            <li><strong>wg-quick</strong>
                <ul>
                    <li><a href="{% url 'client-download-config' client.id "wg-quick" %}"><code>/etc/wireguard/{{ client.server.interface_name }}.conf</code></a></li>
                </ul>
            </li>
            <li><strong>NetworkManager</strong>
                <ul>
                    <li><a href="{% url 'client-download-config' client.id "nmconnection" %}"><code>/etc/NetworkManager/system-connections/{{ client.server.name|slugify }}.nmconnection</code></a></li>
                </ul>
            </li>
            <li><strong>Systemd Networkd</strong>
                <ul>
                    <li><a href="{% url 'client-download-config' client.id "systemd.netdev" %}"><code>/etc/systemd/network/99-{{ client.server.interface_name }}.netdev</code></a></li>
                    <li><a href="{% url 'client-download-config' client.id "systemd.network" %}"><code>/etc/systemd/network/50-{{ client.server.interface_name }}.network</code></a></li>
                </ul>
            </li>
            <li><strong>netctl</strong>
                <ul>
                    <li><a href="{% url 'client-download-config' client.id "netctl" %}"><code>/etc/netctl/{{ client.server.interface_name }}</code></a></li>
                    <li><a href="{% url 'client-download-config' client.id "wg-quick" %}"><code>/etc/wireguard/{{ client.server.interface_name }}.conf</code></a></li>
                </ul>
            </li>
        </ul>
      </div>
    </div>
    <div class="tab">
        <input type="checkbox" id="chck3">
        <label class="tab-label" for="chck3">Mobile devices</label>
        <div class="tab-content">
            <p class="center"><img class="stretch" src="{% url 'client-qr-config' client.id %}" alt="QR-Code to scan with a mobile App" /></p>
        </div>
      </div>
    </div>
</div>

{% endif %}


{% endblock %}
