<li class="pure-menu-item {% if nav == 'home'%}pure-menu-selected{% endif %}">
    <a class="pure-menu-link" href="{% url 'home' %}"><span class="material-icons">home</span>Home</a>
</li>

{% if request.user.is_authenticated %}
<li class="pure-menu-item {% if nav == 'servers'%}pure-menu-selected{% endif %}">
    <a class="pure-menu-link" href="{% url 'server-list' %}"><span class="material-icons">cloud</span>Servers</a>
</li>
<li class="pure-menu-item {% if nav == 'devices'%}pure-menu-selected{% endif %}">
    <a class="pure-menu-link" href="{% url 'client-list' %}"><span class="material-icons">devices</span>Devices</a>
</li>
{% if request.user.is_staff %}
<li class="pure-menu-item {% if nav == 'admin'%}pure-menu-selected{% endif %}">
    <a class="pure-menu-link" href="{% url 'admin:index' %}"><span class="material-icons">admin_panel_settings</span>Admin</a>
</li>
{% endif %}
<li class="pure-menu-item {% if nav == 'logout'%}pure-menu-selected{% endif %}">
    <a class="pure-menu-link" href="{% url 'logout' %}"><span class="material-icons">logout</span>Logout</a>
</li>
{% else %}
<li class="pure-menu-item {% if nav == 'login'%}pure-menu-selected{% endif %}">
    <a class="pure-menu-link" href="{% url 'login' %}"><span class="material-icons">login</span>Login</a>
</li>
{% endif %}
