{% extends 'wireguard/base.html' %}

{% block title %}Wireguard Web reset password{% endblock %}

{% block navigation %}
    {% with nav="reset-password" %}
        {% include 'wireguard/nav.html' %}
    {% endwith %}
{% endblock %}

{% block content %}
{% if token %}
    <h2>Change Password</h2>
{% else %}
    <h2>Reset Password</h2>
    <p>Please enter your e-mail address...</p>
{% endif %}

<form class="pure-form pure-form-aligned" action="{% url 'reset-password' %}" method="POST">
    {% csrf_token %}
    <fieldset>
        {% if messages %}
        <div class="pure-controls">
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% if token %}
            <div class="pure-controls">
                <p>Resetting password for {{ user.email }}</p>
                <input type="hidden" name="email" value="{{ user.email }}" />
                <input type="hidden" name="token" value="{{ token }}" />
            </div>
            <div class="pure-control-group">
                <label for="aligned-password">Password</label>
                <input type="password" name="password" id="aligned-password" placeholder="Password" />
                <span class="pure-form-message-inline">Minimum length is 11 characters.</span>
            </div>
            <div class="pure-control-group">
                <label for="aligned-password2">Password again</label>
                <input type="password" name="password2" id="aligned-password2" placeholder="Password" />
            </div>
            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary">Change Password</button>
            </div>
        {% else %}
            <div class="pure-control-group">
                <label for="aligned-name">E-Mail</label>
                <input type="text" name="username" id="aligned-name" placeholder="Username" {% if username %}value="{{ username }}"{% endif%} />
            </div>
            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary">Reset Password</button>
            </div>
        {% endif %}
    </fieldset>
</form>
{% endblock %}