.content {
    margin-left: auto;
    margin-right: auto;
    padding-top: 4em;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 768px;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #777777;
}

.content p {
    font-size: 1.125em;
    line-height: 1.6;
}

ul li {
    line-height: 1.6;
}

.content .small {
    font-size: 0.875em;
}

.headerlink {
    font-weight: normal;
    font-size: 0.625em;
}

.content h1,
h2,
h3,
h4,
h5,
h6 {
    color: #4b4b4b;
}

.header {
    background-color: #e0e0de;
}

body {
    background-color: #fafaf8;
}

ul.messages {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}


.messages .error {
    color: #a00000;
}

.messages .success {
    color: #00a000;
}

.pure-button {
    margin-right: 1em;
}

.button {
    color: #777777;
    text-decoration: none;
}

.table-stretch {
    display: table;
}

.danger-button {
    background-color: #a00000;
    color: #ffffff;
}

.stretch {
    display: inline-block;
    width: 100%;
    height: auto;
}

/* Accordion styles */
.tabs input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.tabs {
    overflow: hidden;
}

.tab {
    width: 100%;
    color: #000000;
    overflow: hidden;
}

.tab-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: #dddddd;
    font-weight: bold;
    cursor: pointer;
    /* Icon */
}

.tab-label:hover {
    background: #d0d0d0;
}

.tab-label::after {
    content: "❯";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all 0.35s;
}

.tab-content {
    max-height: 0;
    padding: 0 1em;
    color: #777777;
    background: #fafaf8;
    transition: all 0.35s;
}

.tab-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: #d0d0d0;
    cursor: pointer;
}

.tab-close:hover {
    background: #888888;
}

input:checked+.tab-label {
    background: #d0d0d0;
}

input:checked+.tab-label::after {
    transform: rotate(90deg);
}

input:checked~.tab-content {
    max-height: 100vh;
    padding: 1em;
}